* {
	padding: 0;
	margin: 0;
	box-sizing: border-box;
}
body {
	/* overflow: hidden; */
	background-color: transparent;
}

/*---------------------------------------------------- Form Css Starts Here ----------------------------------------------------*/
.btn {
    width: 120px;
    height: 40px;
    font-size: 18px;
    font-weight: 600;
    outline: none !important;
    border-radius: 10px;
}
.goodsreceive {
	width: 180px;
}
.gstbilling {
	width: 160px;
}
.input-group-addon {
	background-color: transparent !important;
	border-radius: 6px !important;
    border: 1px solid orange !important;
}
.glyphicon {
	animation: twoicons 3s linear alternate-reverse infinite !important;
	margin-right: 0px;
	color: orange;
}
@keyframes twoicons {
    0%, 100% {
        transform: scale(0.8);
    }
    50% {
        transform: scale(1.2);
    }
}
input[type=text]:hover {
    box-shadow: none;
}
.style_heading {
    font-weight: 700;
    font-family: sans-serif;
    color: orange;
    margin-top: 25px;
}
hr.style-one {
    border: 0;
    height: 1px;
    background: #333;
    background-image: linear-gradient(to right, #ccc, #333, #ccc);
}
.form-control {
    border-radius: 5px !important;
    border: 1px solid orange;
}
.form-control:focus {
    border-color: orange;
    outline: none;
    box-shadow: none !important;
}
.hr-width {
    width: 80%;
}
.percentage {
    font-size: 15px;
    font-weight: 700;
}
.buttons-margin {
	margin-top: 2%;
}
.nogyphicon {
    font-size: 12px;
    font-weight: 700;
}
.form-horizontal .control-label {
    text-align: left;
}
h3.userid {
    color: red;
    font-size: 24px;
    font-weight: 700;
    margin-right: 10%;
}
h3.purchasereturnno {
    color: red;
    font-size: 22px;
    font-weight: 700;
    position: absolute;
    right: 10%;
    top: 35%;
}
h3.challanshopid {
	color: red;
	font-size: 24px;
	font-weight: 700;
	margin-right: 10%;
}
h3.quotationno {
	color: red;
	font-size: 24px;
	font-weight: 700;
	margin-right: 10%;
}
h3.billnumber {
	color: red;
	font-size: 24px;
	font-weight: 700;
	margin-right: 10%;
}
#demo {
	color: red;
	font-size: 22px;
	font-weight: 700;
	margin-right: 2%;
}
h3.cashbooktransaction {
	color: red;
	font-size: 24px;
	font-weight: 700;
	margin-right: 10%;
	margin-top: 0px;
    margin-bottom: 0px;
}
.prodsearmargin {
	margin-top: 2%;
}
.cashbooktabs {
    margin-top: 8%;
}
/*---------------------------------------------------- Form Css Ends Here ----------------------------------------------------*/

/*---------------------------------------------------- Tab Css Starts Here ----------------------------------------------------*/

.nav-tabs>li.active>a, .nav-tabs>li.active>a:focus, .nav-tabs>li.active>a:hover, .nav-tabs>li>a:hover {
    color: #fff;
    cursor: default;
    background-color: #f39c30;
}
.nav-tabs>li>a {
	background-color: #f79d2ead;
	color: #fff;
}
.categorydetails li a {
    font-size: 18px;
    font-weight: 700;
    border-radius: 12px;
    width: 170px;
    text-align: center;
}
.categorydetails ul {
    display: flex;
    justify-content: center;
}
.categorydetails li {
    margin: 0 5px;
}
.customerbillcopy {
    margin-bottom: 3%;
}
.customerbillcopy li a {
	font-size: 18px;
	font-weight: 700;
	border-radius: 12px;
	width: 280px;
	text-align: center;
}
.customerbillcopy ul {
    display: flex;
    justify-content: center;
}
.customerbillcopy li {
    margin: 0 5px;
}
.purchasereturn {
	margin-bottom: 5%;
}
.purchasereturn li a {
    font-size: 18px;
    font-weight: 700;
    border-radius: 12px;
    width: 240px;
    text-align: center;
}
.purchasereturn ul {
    display: flex;
    justify-content: center;
}
.purchasereturn li {
    margin: 0 5px;
}

.stock-report li a {
    font-size: 18px;
    font-weight: 700;
    border-radius: 12px;
    width: 170px;
    text-align: center;
}
.stock-report ul {
    display: flex;
    justify-content: center;
}
.stock-report li {
    margin: 0 5px;
}

.cashbooktabs li a {
    font-size: 18px;
    font-weight: 700;
    border-radius: 12px !important;
    width: 170px;
    text-align: center;
}
.cashbooktabs ul {
    display: flex;
    justify-content: center;
}
.cashbooktabs li {
    margin: 0 5px;
}
.tax-reports {
	margin-bottom: 2%;
}
.tax-reports li a {
    font-size: 18px;
    font-weight: 700;
    border-radius: 12px !important;
    width: 150px;
    text-align: center;
    padding: 8px 15px;
}
.tax-reports ul {
    display: flex;
    justify-content: center;
}
.tax-reports li {
    margin: 0 5px;
}

.productbuy_sale {
	margin-bottom: 2%;
}
.productbuy_sale li a {
    font-size: 18px;
    font-weight: 700;
    border-radius: 12px !important;
    width: 150px;
    text-align: center;
    padding: 8px 15px;
}
.productbuy_sale ul {
    display: flex;
    justify-content: center;
}
.productbuy_sale li {
    margin: 0 5px;
}

.gstreturn li a {
    font-size: 18px;
    font-weight: 700;
    border-radius: 12px !important;
    width: 170px;
    text-align: center;
}
.gstreturn ul {
    display: flex;
    justify-content: center;
}
.gstreturn li {
    margin: 0 5px;
}
.gstrange li a {
    font-size: 18px;
    font-weight: 700;
    border-radius: 12px !important;
    width: 170px;
    text-align: center;
}
.gstrange ul {
    display: flex;
    justify-content: center;
}
.gstrange li {
    margin: 0 5px;
}
.gstrange {
	margin-bottom: 2%;
}

.reppurchase li a {
    font-size: 18px;
    font-weight: 700;
    border-radius: 12px !important;
    width: 86%;
    text-align: center;
}
.reppurchase ul {
    display: inline-block;
    justify-content: center;
}
.reppurchase li {
    margin: 5px;
    display: flex;
    justify-content: center;
    width: 19%;
}
.reppurchase {
	margin-bottom: 2%;
}
/*---------------------------------------------------- Tab Css Starts Here ----------------------------------------------------*/

/*---------------------------------------------------- Footer Css Starts Here ----------------------------------------------------*/ 
.footer {
    position: fixed;
    left: 0;
    Z-INDEX: 999;
    bottom: 0;
    width: 100%;
    background-color: #393836;
    color: #fff;
    text-align: center;
    padding: 6px;
}
/*---------------------------------------------------- Footer Css Ends Here ----------------------------------------------------*/

<<<<<<< HEAD
=======
/*---------------------------------------------------- Header Css Starts Here ----------------------------------------------------*/
 .embelbackgroundimg {   
    width: 40%;
    height: auto;
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    opacity: 0.3;
    z-index: -1;
}
/*---------------------------------------------------- Header Css Ends Here ----------------------------------------------------*/

>>>>>>> branch 'master' of https://github.com/embelgit/Shop4.0
/*---------------------------------------------------- DataTable Css Starts Here ----------------------------------------------------*/
#demo_jui {
    margin: 0 15px;
}
.dataTables_wrapper {
    /* background: linear-gradient(45deg, orange, transparent); */
    background: linear-gradient(45deg, #f55555, #fccf31);
    border-radius: 10px;
    text-align: center;
}
.dataTables_scrollBody {
    background: linear-gradient(45deg, orange, transparent) !important;
}
.dataTables_wrapper thead {
    color: #2779aa;
    background: #d7ebf9 url(images/ui-bg_glass_80_d7ebf9_1x400.png) 50% 50% repeat-x;
}
.dataTables_scrollHeadInner {
    width: 100% !important;
}
table.table.table-bordered.table-striped.table-condensed.cf.dataTable.no-footer {
    width: 100% !important;
}
.dataTables_wrapper .dataTables_info {
    clear: both;
    /* float: left; */
    padding-top: 0px;
    color: #fff !important;
    font-size: 16px !important;
    font-weight: 600;
    margin: 10px;
}
.dataTables_filter label {
    color: #fff;
    font-size: 16px;
    font-weight: 600;
}
.dataTables_filter input {
    padding: 7px;
    border-radius: 18px;
    outline: none;
    border: none;
    color: #000;
    padding-left: 15px;
}
.dataTables_length {
    margin-top: 10px;
}
.dataTables_wrapper .dataTables_filter {
    padding-right: 0%;
}
.dataTables_filter {
	padding: 10px;
	margin-right: 10px;
}
.dataTables_wrapper .ui-toolbar {
    padding: 0px;
}
.fg-button {
    color: #fff !important;
    background: none !important;
    padding: 5px;
    opacity: 1 !important;
    font-size: 16px;
}
.dataTables_length {
    color: #fff !important;
    padding: 5px;
    font-size: 16px;
}
.fg-toolbar.ui-toolbar.ui-widget-header.ui-helper-clearfix.ui-corner-tl.ui-corner-tr {
    background: linear-gradient(45deg, #f55555, #fccf31);
}
.fg-toolbar.ui-toolbar.ui-widget-header.ui-helper-clearfix.ui-corner-bl.ui-corner-br {
    background: linear-gradient(45deg, #f55555, #fccf31);
}
.dataTables_length select {
    color: #000;
    border-radius: 5px;
    padding: 2px;
    outline: none;
    border: none;
}
.dataTables_wrapper .dataTables_paginate {
    padding-top: 0px !important;
}
table.dataTable.no-footer {
    border: none;   
}
tbody {
    text-align: center;
}
.dataTables_wrapper thead tr th {
    text-align: center;
}
.dataTables_wrapper tr td {
    font-size: 18px;
    font-weight: 600;
}
tr.odd {
    background-color: #fff !important;
}
tr.even {
    background-color: #e2dede !important;
}
td.sorting_1 {
    background: none !important;
}
tbody tr:hover {
    background: linear-gradient(45deg, #f48731, #d8e015);
    color: #fff;
}
.glyphicon-trash {
    font-size: 18px;
}
/*---------------------------------------------------- DataTable Css Ends Here ----------------------------------------------------*/

/*---------------------------------------------------- Media Query Css Starts Here ----------------------------------------------------*/

/*-------------------------------------------------- 1180px to 993px Starts Here ------------------------*/
@media screen and (max-width: 1180px) {
h3.purchasereturnno {
    right: 6%;
    top: 40%;
}
.cashbooktabs {
    margin-top: 12%;
}
.cashbooktabs li a {
    font-size: 16px;
    width: 80%;
    text-align: center;
}
.cashbooktabs li {
    margin: 5px;
    display: flex;
    width: 32%;
    justify-content: center;
}
.cashbooktabs ul {
    display: inline-block;
}
.reppurchase li {
    width: 32%;
}
}
/*-------------------------------------------------- 1180px to 993px Ends Here ------------------------*/

/*-------------------------------------------------- 992px to 768px Starts Here ------------------------*/
@media screen and (max-width: 992px) {
.shopform-margin {
	margin: 0 50px;
}
.formspacelabel {
    margin-top: 15px;
}
.formspaceinput {
    margin-top: 15px;
}
.cashbooktabs li a {
    width: 98%;
}
.cashbooktabs li {
    width: 31%;
}
.cashbooktabs {
    margin-top: 18%;
}	
.reppurchase li {
    width: 48%;
}
.reppurchase li a {
    width: 75%;
}
}
/*-------------------------------------------------- 992px to 768px Ends Here ------------------------*/

/*-------------------------------------------------- 767px to 581px Starts Here ------------------------*/
@media screen and (max-width: 767px) {
.control-label {
	margin-bottom: 5px;
}
.formspaceinput {
    margin-top: 0px;
}
.customerbillcopy li a {
    width: 220px;
}
.embelbackgroundimg {
    width: 50%;
}
.cashbooktabs li a {
    width: 95%;
}
.stock-report li {
    margin: 5px;
    display: flex;
    justify-content: center;
    width: 48%;
}
.stock-report li a {
    width: 90%;
}
.stock-report ul {
    display: inline-block;
}
.reppurchase li {
    width: 48%;
}
.reppurchase li a {
    font-size: 16px;
}		
}
/*-------------------------------------------------- 767px to 581px Ends Here ------------------------*/

/*-------------------------------------------------- 580px to 481px Starts Here ------------------------*/
@media screen and (max-width: 580px) {
.btn {
	margin: 5px;
}
.customerbillcopy li a {
    width: 190px;
}
.purchasereturn li a {
    width: 212px;
    font-size: 16px;
}
.nongstcreditradio {
    width: 150px;
}
.stock-report li {
    width: 47%;
}	
.reppurchase li a {
    width: 90%;
}
.reppurchase li {
    width: 47%;
}
}
/*-------------------------------------------------- 580px to 481px Ends Here ------------------------*/

/*-------------------------------------------------- 480px to 350px Starts Here ------------------------*/
@media screen and (max-width: 480px) {
.categorydetails li a {
    width: 150px;
}
.footer h4 {
    font-size: 16px;
}
.control-label {
    font-size: 14px;
}
h3.userid {
    font-size: 18px;
}
h3.challanshopid {
	font-size: 18px;
}
h3.quotationno {
	font-size: 18px;	
}
h3.billnumber {
	font-size: 18px;
}
h3.cashbooktransaction {
	font-size: 18px;
}
.customerbillcopy li a {
    width: 150px;
}
.customerbillcopy li a {
    font-size: 14px;
}
.purchasereturn li {
    display: flex;
    justify-content: center;
    width: 100%;
}	
.purchasereturn li a {
    width: 90%;
}
h3.purchasereturnno {
    top: 44%;
    font-size: 16px;
}
.purchasereturn {
    margin-bottom: 10%;
}
.nongstcreditradio {
    padding: 10px !important;
    width: 120px !important;
}
.gstcashradio {
	padding: 10px !important;
	width: 120px !important;
}
.embelbackgroundimg {
    width: 60%;
}
.dataTables_filter input {
    width: 70%;
}
#demo {
    font-size: 18px;
}
.tax-reports {
	margin-bottom: 3%;
}
.cashbooktabs li {
    width: 46%;
}
.cashbooktabs li a {
    height: 65px;
}
.stock-report li {
    width: 100%;
}
.stock-report li a {
    width: 65%;
}
.cashbooktabs {
    margin-top: 22%;
}
.reppurchase li {
    width: 100%;
}
.reppurchase li a {
    width: 65%;
}
}
/*-------------------------------------------------- 480px to 350px Starts Here ------------------------*/

/*---------------------------------------------------- Media Query Css Ends Here ----------------------------------------------------*/