* {
	padding: 0;
	margin: 0;
	box-sizing: border-box;
}
body {
	/* overflow: hidden; */
	background-color: transparent;
}

/*---------------------------------------------------- Form Css Starts Here ----------------------------------------------------*/
.btn {
    width: 120px;
    height: 40px;
    font-size: 18px;
    font-weight: 600;
    outline: none !important;
    border-radius: 10px;
}
.goodsreceive {
	width: 180px;
}
.input-group-addon {
	background-color: transparent !important;
	border-radius: 6px !important;
    border: 1px solid orange !important;
}
.glyphicon {
	animation: twoicons 3s linear alternate-reverse infinite !important;
	margin-right: 0px;
	color: orange;
}
@keyframes twoicons {
    0%, 100% {
        transform: scale(0.8);
    }
    50% {
        transform: scale(1.2);
    }
}
input[type=text]:hover {
    box-shadow: none;
}
.style_heading {
    font-weight: 700;
    font-family: sans-serif;
    color: orange;
    margin-top: 25px;
}
hr.style-one {
    border: 0;
    height: 1px;
    background: #333;
    background-image: linear-gradient(to right, #ccc, #333, #ccc);
}
.form-control {
    border-radius: 5px !important;
    border: 1px solid orange;
}
.form-control:focus {
    border-color: orange;
    outline: none;
    box-shadow: none !important;
}
.hr-width {
    width: 80%;
}
.percentage {
    font-size: 15px;
    font-weight: 700;
}
.buttons-margin {
	margin-top: 2%;
}
.nogyphicon {
    font-size: 12px;
    font-weight: 700;
}
.form-horizontal .control-label {
    text-align: left;
}
h3.userid {
    color: red;
    font-size: 24px;
    font-weight: 700;
    margin-right: 10%;
}
h3.purchasereturnno {
    color: red;
    font-size: 22px;
    font-weight: 700;
    position: absolute;
    right: 10%;
    top: 35%;
}
h3.challanshopid {
	color: red;
	font-size: 24px;
	font-weight: 700;
	margin-right: 10%;
}
h3.quotationno {
	color: red;
	font-size: 24px;
	font-weight: 700;
	margin-right: 10%;
}
/*---------------------------------------------------- Form Css Ends Here ----------------------------------------------------*/

/*---------------------------------------------------- Tab Css Starts Here ----------------------------------------------------*/

.nav-tabs>li.active>a, .nav-tabs>li.active>a:focus, .nav-tabs>li.active>a:hover, .nav-tabs>li>a:hover {
    color: #fff;
    cursor: default;
    background-color: #f39c30;
}
.nav-tabs>li>a {
	background-color: #f79d2ead;
	color: #fff;
}
.categorydetails li a {
    font-size: 18px;
    font-weight: 700;
    border-radius: 12px;
    width: 170px;
    text-align: center;
}
.categorydetails ul {
    display: flex;
    justify-content: center;
}
.categorydetails li {
    margin: 0 5px;
}
.customerbillcopy {
    margin-bottom: 3%;
}
.customerbillcopy li a {
	font-size: 18px;
	font-weight: 700;
	border-radius: 12px;
	width: 280px;
	text-align: center;
}
.customerbillcopy ul {
    display: flex;
    justify-content: center;
}
.customerbillcopy li {
    margin: 0 5px;
}
.purchasereturn {
	margin-bottom: 5%;
}
.purchasereturn li a {
    font-size: 18px;
    font-weight: 700;
    border-radius: 12px;
    width: 240px;
    text-align: center;
}
.purchasereturn ul {
    display: flex;
    justify-content: center;
}
.purchasereturn li {
    margin: 0 5px;
}
/*---------------------------------------------------- Tab Css Starts Here ----------------------------------------------------*/

/*---------------------------------------------------- Footer Css Starts Here ----------------------------------------------------*/ 
.footer {
    position: fixed;
    left: 0;
    Z-INDEX: 999;
    bottom: 0;
    width: 100%;
    background-color: #393836;
    color: #fff;
    text-align: center;
    padding: 6px;
}
/*---------------------------------------------------- Footer Css Ends Here ----------------------------------------------------*/

/*---------------------------------------------------- Media Query Css Starts Here ----------------------------------------------------*/

/*-------------------------------------------------- 1180px to 993px Starts Here ------------------------*/
@media screen and (max-width: 1180px) {
h3.purchasereturnno {
    right: 6%;
    top: 40%;
}
}
/*-------------------------------------------------- 1180px to 993px Ends Here ------------------------*/

/*-------------------------------------------------- 992px to 768px Starts Here ------------------------*/
@media screen and (max-width: 992px) {
.shopform-margin {
	margin: 0 50px;
}
.formspacelabel {
    margin-top: 15px;
}
.formspaceinput {
    margin-top: 15px;
}	
}
/*-------------------------------------------------- 992px to 768px Ends Here ------------------------*/

/*-------------------------------------------------- 767px to 581px Starts Here ------------------------*/
@media screen and (max-width: 767px) {
.control-label {
	margin-bottom: 5px;
}
.formspaceinput {
    margin-top: 0px;
}
.customerbillcopy li a {
    width: 220px;
}		
}
/*-------------------------------------------------- 767px to 581px Ends Here ------------------------*/

/*-------------------------------------------------- 580px to 481px Starts Here ------------------------*/
@media screen and (max-width: 580px) {
.btn {
	margin: 5px;
}
.customerbillcopy li a {
    width: 190px;
}
.purchasereturn li a {
    width: 212px;
    font-size: 16px;
}	
}
/*-------------------------------------------------- 580px to 481px Ends Here ------------------------*/

/*-------------------------------------------------- 480px to 350px Starts Here ------------------------*/
@media screen and (max-width: 480px) {
.categorydetails li a {
    width: 150px;
}
.footer h4 {
    font-size: 16px;
}
.control-label {
    font-size: 14px;
}
h3.userid {
    font-size: 18px;
}
h3.challanshopid {
	font-size: 18px;
}
h3.quotationno {
	font-size: 18px;	
}
.customerbillcopy li a {
    width: 150px;
}
.customerbillcopy li a {
    font-size: 14px;
}
.purchasereturn li {
    display: flex;
    justify-content: center;
    width: 100%;
}	
.purchasereturn li a {
    width: 90%;
}
h3.purchasereturnno {
    top: 44%;
    font-size: 16px;
}
.purchasereturn {
    margin-bottom: 10%;
}
}
/*-------------------------------------------------- 480px to 350px Starts Here ------------------------*/

/*---------------------------------------------------- Media Query Css Ends Here ----------------------------------------------------*/